@import '~bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #ededed !important;
}

thead {
    color: white;
    background-color: #206eb9;
}

table th,
table td {
    border: 1px solid #ffffff;
}

th:first-child {
    border-left: 0px solid #ffffff !important;
}

th:last-child {
    border-right: 0px solid #ffffff !important;
}

td {
    padding: 3px !important;
}


table th,
table td,
table tr td {
    margin-top: 15px !important;
    font-size: 11.5px !important;
}

table tbody tr td {
    top: 50% !important;
    height: 25px !important;
    min-height: 5px !important;
    border: 1px solid #cacaca;
}

table tbody tr td button i .fa-2x .fa-2x::before {
    font-size: 12px !important;
}