.pagination-container{
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid #000;
    margin-top: 30px;
    margin-bottom: 8px;
    text-decoration: none;
    ul{
        list-style-type: none !important;
    }
}
.pagination-item{
    width: 40px;
    height: 40px;
    background: #e1e1e1;
    text-decoration: none;
    border-radius: 50%;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;

    &.active{
        background:#407bff ;
    }
}

.pagination-previous{
    transform: rotate(-180deg);
    margin-right: 25px
}
.pagination-next{
    margin-right: 15px
}

.page-active{
    cursor: pointer;
    color:#407bff ;
}
.page-inactive{
    color: #e1e1e1;
    pointer-events: none;
}
.pagination{
    align-items: center;
}